<!doctype html>
<html>
   <body>
      <form action = "/result" method = "POST">
         <p>Name <input type = "text" name = "Name" /></p>
         <p> Univ <input type = "text" name = "Univ" /></p>
         <p> Student Number <input type = "text" name = "Student Number" /></p>
         <p> Gender </p>
         <label><input type = "radio" value = "Male" name = "Gender"/>Male</label>
         <label><input type = "radio" value = "Female"  name = "Gender"/>Female</label>
         <p> Major <input type = "text" name = "Major" /></p>
         <p> Programming Languages</p>
         <label><input type = "checkbox" value = "Python"  name = "languages"/>Python</label>
         <label><input type = "checkbox" value = "Java" name = "languages"/>Java</label>
         <label><input type = "checkbox" value = "HTML" name = "languages"/>HTML</label>
         <label><input type = "checkbox" value = "C++" name = "languages"/>C++</label>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>